<h2>Login</h2>
	<div class="login">
		<div class="input group">
			<%= form_for :user, url:"/sessions",method: :post do |session| %>
			<div class="input group">
				<%= session.label :email %><br>
				<%= session.email_field :email, autofocus: true %>
			</div>
			<div class="input group">
				<%= session.label :password %><br>
				<%= session.password_field :password %>
			</div>
			<br>
			<div class="submit">
			<%= session.submit "Submit" %>
			</div>
			<% end %>
		</div>
	