<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="user">
			<div class="form">
				<div class="input-group">
					<%= form_for @user, html: { multipart: true } do |user| %>
					<div class="input-group">
						<%= user.label :email %>
						<%= user.email_field :email, class: "form-control", autofocus: true %>
					</div>
					<div class="input-group">
						<%= user.label :first_name %>
						<%= user.text_field :first_name, class: "form-control" %>
					</div>
					<div class="input-group">
						<%= user.label :last_name %>
						<%= user.text_field :last_name, class: "form-control" %>
					</div>
					<div class="input-group">
						<%= user.label :current_city %>
						<%= user.text_field :current_city, class: "form-control" %>
					</div>
					<div class="input-group">
						<%= user.label :password %>
						<%= user.password_field :password, class: "form-control" %>
					</div>
					<div class="input-group">
						<%= user.label :password_confirmation %>
						<%= user.password_field :password_confirmation, class: "form-control" %>
					</div>
					
					<div class="field">
						<%= user.label :image %>
						<%= user.file_field :image %>
					</div>
					
					<div class="input-group">
					<br>
						<%= user.submit "Submit", class: "form-control" %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>