<div class="container">
	<div class="row">
		<h1>Welcome <%= current_user.first_name %>!</h1> 
		<h4>Current city: <%= current_user.current_city %> · 
		Member since <%= current_user.created_at.strftime("%B %d, %Y") %></h4>
		<hr>
		<div class="col-md-6 col-offset-3">
		<p><%= image_tag current_user.image.url(:thumb) %></p>	
		<p><%= link_to "Update Profile", edit_user_path %></p>
				<p><%= link_to "Delete Account", user_path, method: :delete, data: { confirm: 'Are you sure you want to delete your account? Your posts will also be deleted.' } %></p>
		</div>
		<div class="col-md-6">
		<%= link_to "Add a new Post", new_post_path %>
		<h3><%= current_user.first_name %>'s posts</h3>
		<% current_user.posts.each do |post| %>
			<p><%= link_to post.title, post_path(post) %> - <%= post.content %></p>
		<% end %>
	</div>	
</div>	