
	<div class="col-md-6 col-md-offset-3">
		<div class="row">
		<div class="post" style="background-color:rgba(0, 0, 0, 0.2);">
			<h1><%= @post.title %></h1><hr>
			<p>Written by:
				<a href="mailto:<%= @post.user.email %>?Subject=<%= @post.title %>"><%= @post.user.first_name %></a></p>
				<p>Category: <%= @post.tags %></p>
				<p>City: <a href="/cities/<%= @post.city.id %>"><%= @post.city.name %></a></p>
				<% if @post.image.present? %>
				<p><%= image_tag @post.image.url(:medium) %></p>
				<% else %>
				<p><%= image_tag "#{@post.city.name.downcase.gsub(/\s+/, "-")}-pic.jpg", class: "post-pic" %></p>
				<% end %>

				

				<p class="post-content"><%= simple_format @post.content %></p>
				<p>
					<%= link_to "Edit Post", edit_post_path(@post) %> |
					<%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete \"#{@post.title}\"?" } %>
				</p>
			</div>
		</div>
	</div>
</div>
<br><br><br>