<div class="container col-md-6 col-md-offset-3">
	<div class="row">
		<h1><%= @post.title %></h1>
		<p>Written by: 
			<a href="mailto:<%= @post.user.email %>?Subject=<%= @post.title %>"><%= @post.user.first_name %></a></p>
			<p>Category: <%= @post.tags %></p>
			<p>City: <a href="/cities/<%= @post.city.id %>"><%= @post.city.name %></a></p>
			<p><%= image_tag @post.image.url(:medium) %></p>
		<p><%= simple_format @post.content %></p>
		<p>
	    <%= link_to "Edit Post", edit_post_path(@post) %> |
	    <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete \"#{@post.title}\"?" } %>
  	</p>
	</div>	
</div>
