<div class="<%= @city.name.downcase.gsub(/\s+/, "-") %>-image">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1 class="text-center"><%= @city.name %></h1>	
			<p><%= @city.description %></p>
		</div>
	</div>
</div>
<div class="content">
	<div class="row">
		<% @posts.each do |post| %>
		<% if post.city_id == @city.id %>
		<div class="col-md-10 col-md-offset-1">
			<h1 class="text-center page-header"><%= post.tags %></h1>
			<% if post.tags == "Sports" %>	
			<% @users.each do |user| %>
			<% if user.id == post.id %>
			<h3><%= post.title %></h3>
			<h3>Written by <%= user.first_name %> <%= user.last_name %></h3>
			<% end %>
			<% end %>
			<p>Written on: <%= post.created_at.strftime("%B %d, %Y") %></p>
			<p><%= post.content %></p>
			<% end %>
			<% if post.tags == "Dining" %>	
			<h2><%= post.title %></h2>
			<p>Written on: <%= post.created_at.strftime("%B %d, %Y") %></p>
			<p><%= post.content %></p>
			<% end %>
			<% if post.tags == "Entertainment" %>	
			<h2><%= post.title %></h2>
			<p>Written on: <%= post.created_at.strftime("%B %d, %Y") %></p>
			<p><%= post.content %></p>
			<% end %>
		<% end %>
		<% end %>
		</div>		
	</div>
</div>

