<!DOCTYPE html>
<html>
	<head>
		<title>Vagabond</title>
		<%= stylesheet_link_tag 'application', media: 'all' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<nav class="navbar">
			<div class="navBar">
				<ul class="nav nav-pills">
					<li role="presentation" class="home"><%= link_to "Vagabond", root_path %></li>
					<% if current_user %>
					<li class="pull-right home2" role="presentation"><%= link_to "Logout", logout_path %></li>
					<li class="pull-right home2" role="presentation"><%= link_to "Profile", user_path(current_user) %></li>
					
					<% else %>
					<li class="pull-right home2" role="presentation"><%= link_to "Login", login_path %></li>
					<li class="pull-right home2" role="presentation"><%= link_to "Sign Up", new_user_path %></li>
					<% end %>
				</ul>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<% flash.each do |alert, message| %>
				<div class="flash-<%= alert %>">
					<p><%= message %></p>
				</div>
				<% end %>
			</div>
			
		</div>
		
		
		<%= yield %>
		
		
		<%= javascript_include_tag 'application' %>
	</body>
</html>